# Flutter/Dart stuff
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.dart_tool/
.flutter-*

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
*.swp
Thumbs.db

# Android
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
/ios/Flutter/.last_build_id
/ios/Pods
/ios/Runner.xcworkspace
/ios/.symlinks
/ios/Flutter/Generated.xcconfig
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/ServiceDefinitions.json

# Web build
build/web/

# Firebase
.firebase/
firebase-debug.log

# Netlify (if using CLI)
.netlify/

# Symbolic links
*.lnk
